<div *ngIf="timer">
  <ion-item class="no-bottom-border item">
    <button ion-button *ngIf="time && time > 0" large full clear class="timer-button timer-text">{{timer.timeStr}}</button>
  </ion-item>
  <ion-item class="no-bottom-border" *ngIf="time && time > 0">
    <button ion-button icon-left clear color="danger" small (click)="init()" item-left *ngIf="!timer.startTimer && (timer.isStarted || timer.isOver) || timer.isOver">
      <ion-icon name="refresh"></ion-icon>
        Reset
    </button>
    <button ion-button icon-left clear small color="primary" (click)="pause()" item-right *ngIf="timer.startTimer && timer.isStarted && !timer.isOver">
      <ion-icon name="pause"></ion-icon>
        Pause
    </button>
    <button ion-button icon-left clear small color="primary" (click)="resume()" item-right *ngIf="!timer.startTimer && timer.isStarted && !timer.isOver">
      <ion-icon name="play"></ion-icon>
        Resume
    </button>
    <button ion-button icon-left clear small color="primary" (click)="start()" item-right *ngIf="!timer.isStarted">
      <ion-icon name="play"></ion-icon>
        Start
    </button>
  </ion-item>
</div>